Repository wilfriedago/next-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "eslint"],
  "**/*.ts?(x)": "npm run typecheck",
  "*.{json,yaml}": ["prettier --write"]
}

chore: update the husky hooks scripts
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: remove baseui
  .eslintrc
  package.json
  src/contexts/BaseUIProvider.tsx
  src/contexts/index.ts
Due: eslint --fix, eslint, prettier --write

chore: work in progress
  .commitlintrc
  .commitlintrc.json
  .github/workflows/ba.yml
  .github/workflows/ci.yml
  .github/workflows/cr.yml
  .lintstagedrc
  .lintstagedrc.json
  docker-compose.yml
  env.mjs
  jest.setup.js
  package.json
  scripts/.gitkeep
  src/app/page.tsx
  tsconfig.json
Due: eslint --fix, eslint, prettier --write

chore: work in progress
  package.json
  tailwind.config.ts
Due: eslint --fix, eslint, prettier --write

chore: work in progress
  .dockerignore
  .github/workflows/ba.yml
  .github/workflows/ci.yml
  .gitignore
  .vscode/css.code-snippets
  .vscode/settings.json
  .vscode/typescript.code-snippets
  TODO.md
  docker-compose.yml
  env.mjs
  jest.config.js
  pnpm-lock.yaml
  src/app/(auth)/dashboard/page.tsx
  tailwind.config.ts
  tsconfig.json
Due: eslint --fix, eslint, prettier --write

chore: work in progress
  .github/workflows/ci.yml
  jest.config.js
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Counter.tsx
  src/components/index.ts
Due: eslint --fix, eslint, prettier --write

chore: work in progress
  .github/workflows/ci.yml
Due: none

chore: work in progress
  .env.example
  .gitignore
  next.config.mjs
Due: none

chore: work in progress
  next.config.mjs
Due: none

chore: work in progress
  next.config.mjs
  src/components/Button.tsx
Due: eslint --fix, eslint

chore: work in progress
  jest.config.js
  src/components/Main.test.tsx
  src/utils/helpers.test.ts
Due: eslint --fix, eslint

chore: work in progress
  .eslintrc
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .storybook/main.ts
  .storybook/preview.ts
  .vscode/settings.json
  .vscode/typescript.code-snippets
  LICENSE
  TODO.md
  env.mjs
  jest.config.js
  next.config.mjs
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/app/layout.tsx
  src/components/Main.stories.tsx
  src/components/ScreenSizeDetector.stories.tsx
  src/components/ScreenSizeDetector.test.tsx
  src/components/ScreenSizeDetector.tsx
  src/components/index.ts
  src/middleware.ts
  src/types/index.d.ts
Due: eslint --fix, eslint, prettier --write

chore: work in progress
  .github/workflows/ba.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

chore: work in progress
  .env.example
Due: none

chore: work in progress
  src/components/ScreenSizeDetector.tsx
Due: eslint --fix, eslint

chore: work in progress
  .env.example
  build-storybook.log
  package.json
  pnpm-lock.yaml
Due: prettier --write

Create dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none
